/* Extra small devices (phones, 600px and down) */
*{
    margin: 0;
    box-sizing: border-box;
}
.content {
    text-transform: capitalize;
    margin: 15px 15px 0 15px;
}

.title{
    font-size: 30px;

}

.buttons {
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

a[class='btn'] {
    text-decoration: none;
    color: black;
    border: 2px solid black;
    font-size: 20px;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 140px;
    height: 50px;
    text-align: center;
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}